.schedule-container {
  width: 80vw;
  margin: 20px auto;
  font-family: Roboto, sans-serif;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
}
.schedule {
  border: 1px solid #5d94f8;
  border-radius: 2px;
  max-height: 80vh;
  overflow: scroll;
  padding: 10px;
  margin: 30px 0;
}
.scheduleEvent {
  background-color: #fbfcff6b;
  padding: 6px 10px;
  font-size: 0.85rem;
}
.commentFormPost {
  min-width: 75px;
  flex: 1;
  height: 40px;
  margin: 5px 3px;
  font-size: 1rem;
  background-color: #a3cdfd;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.055rem;
  border: none;
}
.updateLink {
  text-decoration: none;
  padding-right: 15px;
  font-size: 0.7rem;
}
.deleteLink {
  text-decoration: none;
  padding-right: 15px;
  font-size: 0.7rem;
  color: red;
}

input[type="text"] {
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  font-weight: 300;
  font-size: 12px;
  height: auto;
  margin: 0 0 30px;
  outline: 0;
  padding: 15px;
  width: 93%;
  color: #8a97a0;
}
.eventTitle {
  font-size: 1.5em;
}
